@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
    :root {
        /* Color variables */
        --color-primary: 225 234 229;
        --color-secondary: 164 192 176;
        --color-text: 31 45 37;
        --color-action: 173 66 57;
    }
    
    .dark-mode {
        /* Color variables for dark mode */
        --primary-color-shade: #000000;
        --primary-color: #1F2D25;
        --secondary-color: #344B3E;
        --text-color: #E1EAE5;
        --action-color: #C65B52;
    }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--color-primary));

  font-family: "Hind Vadodara", sans-serif;
  color: rgb(var(--color-text));
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    line-height: 75px;
    margin-bottom: 1.5rem;
    letter-spacing: 5px;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

h3 {
    font-size: 2rem;
}

 h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.35rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
    text-transform: none;
}

h6 {
    width: fit-content;
    padding: 8px 16px;
    background-color: rgb(var(--color-text));
    border-radius: 5px;

    text-align: center;
    text-transform: none;
    font-size: 1.25rem;
    color: rgb(var(--color-primary));
}

p {
    font-size: 1rem;
}

@media (min-width: 769px) {
    h1 {
        font-size: 4.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        padding: 8px 32px;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
    }
}